@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body{
    background-image: url("https://cdn.hipwallpaper.com/i/76/65/LJEZy5.jpg");
    background-repeat: no-repeat;
}

.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif;
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
}

